body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(0deg, #ecece6, #f77352);
    overflow-x: hidden;
}

.title {
    width: 100%;
    height: 100px;
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210911/pngtree-chinese-new-year-red-envelope-background-indoor-studio-photography-with-map-image_859391.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 1px solid transparent;
    border-radius: 5px;
    overflow-x: hidden;
    font-family: "Playfair Display", serif;
}

.title h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}

.title img {
    width: 70px;
    height: 70px;
    background: transparent;
}

.container {
    width: 100%;
    height: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    position: relative;
    overflow-x: hidden;
}

.avatar {
    height: auto;
    display: flex;
    gap: 20px;
}

.right {
    margin-left: auto;
    margin-top: 50px;
}

.three {
    margin-top: 50px;
}

.avatar img {
    max-width: 80px;
    width: 100%;
    height: 80px;
    border: 4px solid rgb(228, 138, 21);
    object-fit: cover;
    border-radius: 50%;
    animation: avatarShake 2s ease-in-out infinite,
        borderColor 3s linear infinite;
}

.chat-bubble {
    position: relative;
    background: #e53935;
    color: white;
    padding: 14px 18px;
    border-radius: 18px;
    width: 100%;
    max-width: 200px;
    height: auto;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    text-align: center;
}

.content {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    margin-top: 100px;
    width: 70%;
    height: auto;
    overflow-x: hidden;
    transform: translateX(10%);
}

.content p{
    font-weight: 600;
}

.tilte-qr {
    display: flex;
}

.tilte-qr .img-cat {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.tilte-qr .img-dog {
    width: 60px;
    height: 50px;
    margin-top: 20px;
}

.content h1 {
    color: #e63946;
}

.content p {
    font-size: 18px;
}

.buttons {
    margin-top: 20px;
    font-weight: 600;
}

button {
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.yes {
    background: #2ecc71;
    color: white;
}

.no {
    background: #e74c3c;
    color: white;
    position: relative;
}

.clickko {
    display: none;
}

/* QR popup */
.qr-box {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}

.qr {
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}

.qr img {
    width: 220px;
    border-radius: 6px;
}

.qr button{
    background-color: #42e233;
    color: white;
    font-weight: 500;
}


/* rung nhẹ */
@keyframes avatarShake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* đổi màu border */
@keyframes borderColor {
    0% {
        border: 4px solid #ff4d4d;
    }

    25% {
        border: 4px solid #ffa500;
    }

    50% {
        border: 4px solid #00cc66;
    }

    75% {
        border: 4px solid #3399ff;
    }

    100% {
        border: 4px solid #ff4d4d;
    }
}